extends layout

block content
  main.home-page
    h1 Welcome back, #{user.username} 👋
    p Here are your playlists and recommendations.

    section
      h2 Your Playlists
      if myPlaylists.length
        each playlist in myPlaylists
          .playlist-card
          h3= playlist.title
          p= playlist.description
          p= playlist.genre
      else
        p You have not created any playlists yet.

    section
      h2 Recommended For You
      if recommendedPlaylists.length
        each playlist in recommendedPlaylists
          .playlist-card
          h3= playlist.title
          p= playlist.description
          p= playlist.genre
      else
        p No recommendations yet.