extends layout

block content
  main.home-page
    h1 Welcome back, #{user.username} 👋
    p Here are your playlists and recommendations.

    section.home-section
      h2 Your Playlists
      if myPlaylists.length
        .playlist-grid
          each playlist in myPlaylists
            a.playlist-card(href=`/playlists/${playlist.id}`)
              h3= playlist.title
              p= playlist.description
              span.genre-pill= playlist.genre
      else
        p You have not created any playlists yet.

    section.home-section
      h2 Recommended For You
      if recommendedPlaylists.length
        .playlist-grid
          each playlist in recommendedPlaylists
            a.playlist-card(href=`/playlists/${playlist.id}`)
              h3= playlist.title
              p= playlist.description
              span.genre-pill= playlist.genre
      else
        p No recommendations yet.